<!DOCTYPE html>
<html lang="en">
<head>
    

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
       <link rel="stylesheet" href="css/homepage2.css">
       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body>
    <video autoplay loop muted>
        <source src="https://storage.googleapis.com/pr-properties-eu/web/video.mp4" type="video/mp4">
        
    </video>
   <nav>
    <div class="container">
        <div class="logo"></div>
        
            <ul>
                
                <li><a  target="_blank" class="ma" href="http://localhost:8080/login">Login</a></li>
                <li><a target="_blank"  class="ma" href="http://localhost:8080/login">Signup</a></li>
                
                <li><input type="search" name="" placeholder="Search" id=""></li>
                <li>
                    <button id="btn">Search  </button>
                    </li>
            </ul>
        
        
    </div>
   </nav>
   <div class="content">
    <p><h1>Find Your Best property</h1>  </p>
    <div class="items">
     <div class="box">
         <h2>Location</h2>
         <select class="s">
             
             <option id="locaton " >Select </option>
             <option id="locaton " value="orange">Delhi</option>
             <option id="locaton " value="grape">Chennai</option>
             <option id="locaton " value="watermelon">Mumbai</option>
         </select>
     </div>
     <div class="box">
         <h2>Propety-Type</h2>
         
         <select class="s">
             
             <option id="locaton " >Select </option>
             <option id="locaton " value="orange">Apartment</option>
             <option id="locaton " value="grape">Industrial </option>
             <option id="locaton " value="watermelon">Land</option>
         </select>
     </div>
     <div class="box">
         <h2>contact us</h2>
      <p style="text-align: center;"><button class="s"><a target="_blank" href="index.html" style="text-decoration:none; color: white;">contact-us</a></button></p>
          
     </div>
    </div></div>
   <div class="showitems">
  



    <div class="outer"><div class="inner1 wb"></div>
    <div  class="inner" >
        <h3 style="text-align: center;margin: 0.5rem;">DELHI</h3>
        <p style="text-align: center;font-weight: bold ;margin: 0.5rem;">sector 113,gurgon </p>
        <div class="info" style="text-align: center;font-weight: bold;
        margin: 0.5rem;"><h5>1310-2500sqft</h5></div>
        <div class="price" style="text-align: center;margin: 0.5rem;font-weight: bold;"><h3>$1.63-297</h3></div>
    </div></div>
    <div class="outer"><div class="inner2 wb"></div>
    <div class="inner"> <h3 style="text-align: center;margin: 0.5rem;">BIHAR</h3>
        <p style="text-align: center;font-weight: bold ;margin: 0.5rem;">sector 56,PATNA </p>
        <div class="info" style="text-align: center;font-weight: bold;
        margin: 0.5rem;"><h5>1310-2500sqft</h5></div>
        <div class="price" style="text-align: center;margin: 0.5rem;font-weight: bold;"><h3>$1.63-450</h3></div></div></div>
    <div class="outer"><div class="inner3 wb"></div>
    <div class="inner"> <h3 style="text-align: center;margin: 0.5rem;">MAHARASHTRA</h3>
        <p style="text-align: center;font-weight: bold ;margin: 0.5rem;">sector 112,PUNE </p>
        <div class="info" style="text-align: center;font-weight: bold;
        margin: 0.5rem;"><h5>1310-2500sqft</h5></div>
        <div class="price" style="text-align: center;margin: 0.5rem;font-weight: bold;"><h3>$1.63-400</h3></div></div></div>
    <div class="outer"><div class="inner4 wb"></div>
    <div class="inner"> <h3 style="text-align: center;margin: 0.5rem;">GUJARAT</h3>
        <p style="text-align: center;font-weight: bold ;margin: 0.5rem;">sector 113,PORBANDAR </p>
        <div class="info" style="text-align: center;font-weight: bold;
        margin: 0.5rem;"><h5>1310-2500sqft</h5></div>
        <div class="price" style="text-align: center;margin: 0.5rem;font-weight: bold;"><h3>$1.63-297</h3></div></div></div>
    <div class="outer"><div class="inner5 wb"></div>
    <div class="inner"> <h3 style="text-align: center;margin: 0.5rem;">PUNJAB</h3>
        <p style="text-align: center;font-weight: bold ;margin: 0.5rem;">sector 103,LUDHIANA </p>
        <div class="info" style="text-align: center;font-weight: bold;
        margin: 0.5rem;"><h5>1310-2500sqft</h5></div>
        <div class="price" style="text-align: center;margin: 0.5rem;font-weight: bold;"><h3>$1.63-297</h3></div></div></div>
        

   </div>
  

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script> 
</body>
</html>